<%= form_for @restaurant_application do |f| %>

  <div>
    <%= f.label :restaurant_name %>
    <%= f.text_field :restaurant_name, class:"form-control" %>
  </div>

  <div>
    <%= f.label :phone %>
    <%= f.text_field :phone, class:"form-control" %>
  </div>

  <div>
    <%= f.label :restaurant_doc %>
    <%= f.file_field :restaurant_doc, class:"form-control" %>
  </div>

  <div>
    <%= f.label :status %>
    <%= f.check_box :status, class:"form-control" %>
  </div>


  <div>
    <%= f.submit class:"btn btn-success" %>
  </div>
<% end %>
