<%= render '/layouts/navbar' %>

<div class="section section-banner section-opaque-dark text-xs-center" draggable="true">
  <div class="background-image" style="background-image: url(<%=asset_path('foodbanner.jpg')%>);"></div>
</div>

<div class="section top-padding">
  <div class="container">

    <% if @restaurant_applications.empty? %>
    You do not have any application
    <br><br>
    <% else %>
    <h1>My Application</h1>

    <% if current_user&.restaurant_owner? %>
      <% if @restaurant_applications.empty? %>
        <%= link_to "New Application", new_restaurant_application_path, class:"btn btn-primary" %>
      <% end%>
    <% end%>

    <p>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Applicant Name</th>
            <th>NRIC Photo</th>
            <th>Phone Number</th>
            <th>Phone Verified?</th>
            <th>Application Status</th>
          </tr>
        </thead>

        <tbody>
          <% @restaurant_applications.each do |restaurant_application| %>
          <tr>
            <td><%= restaurant_application.restaurant_name %></td>
            <td><%= image_tag restaurant_application.restaurant_doc.medium %></td>
            <% if restaurant_application.phone_number.verified %>
            <td><%= restaurant_application.phone_number.phone_number %></td>
            <% else %>
            <td>Pending Verification</td>
            <% end %>
            <td><%= restaurant_application.phone_number.verified %>
              <% unless restaurant_application.phone_number.verified %>
              <%= link_to "Click to verify",
              edit_phone_number_path(restaurant_application.phone_number) %>
              <% end %>
            </td>
            <td><%= restaurant_application.application_status %></td>
            <!-- <td>< %= restaurant_application.user.email %></td> -->
            <!-- <td><%= link_to "EDIT", edit_restaurant_application_path(restaurant_application), class:"btn btn-success" %></td>
            <td><%= link_to "DELETE", restaurant_application_path(restaurant_application), method: :delete, data: { confirm: "Delete?" } , class:"btn btn-danger" %></td> -->

          </tr>
          <% end%>
        </div>
      </div>
      <% end %>
