<%= render partial: 'landing/header' %>
    <!-- Header Block Full -->
    <div class="cwt__block cwt__header-fixed">
        <div class="container">
            <div class="cwt__header-fixed__container">
                <div class="row">
                    <div class="col-xs-3">
                        <div class="cwt__logo cwt__logo--small">
                            <a href="index.html">
                                <img src="<%= asset_path('logo-inverse.png') %>" alt="Orderlah" />
                            </a>
                        </div>
                    </div>
                    <div class="col-xs-9">
                        <nav class="nav nav-inline pull-xs-right cwt__main-menu cwt__main-menu--dark">
                            <div class="cwt__mobile-menu">
                                <a href="javascript: void(0);" class="nav-link cwt__main-menu__link cwt__main-menu__link--active cwt__js-click__preview">Preview</a>
                                <a href="javascript: void(0);" class="nav-link cwt__main-menu__link cwt__js-click__gallery">Portfolio</a>
                                <a href="javascript: void(0);" class="nav-link cwt__main-menu__link cwt__js-click__features">Features</a>
                                <a href="javascript: void(0);" class="nav-link cwt__main-menu__link cwt__js-click__about">About Us</a>
                            </div>
                            <a href="javascript: void(0);" class="nav-link btn btn-primary cwt__main-menu__link cwt__main-menu__link--button">Contact Us</a>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Preview Block -->
    <div class="cwt__block cwt__preview">
        <div class="cwt__preview__container">
            <div class="cwt__preview__title">
                Do Not Waste Time
                <br />
                For Long Queue
            </div>
            <a href="#" class="btn btn-primary cwt__action__button">
                Click Here<br /><small>For More Info</small>
            </a>
        </div>
    </div>

    <div class="container">
        <div class="row">

            <!-- Header Block -->
            <div class="cwt__block cwt__main-header" style="display: none;">
                <div class="row">
                    <div class="col-xs-3">
                        <div class="cwt__logo">
                            <a href="index.html">
                                <img src="<%= asset_path('logo.png') %>" alt="Orderlah" />
                            </a>
                        </div>
                    </div>
                    <div class="col-xs-9">
                        <nav class="nav nav-inline pull-xs-right cwt__main-menu">
                            <div class="cwt__mobile-menu">
                                <a href="javascript: void(0);" class="nav-link cwt__main-menu__link cwt__main-menu__link--active cwt__js-click__information">Teaser</a>
                                <a href="javascript: void(0);" class="nav-link cwt__main-menu__link cwt__js-click__versions">Portfolio</a>
                                <a href="javascript: void(0);" class="nav-link cwt__main-menu__link cwt__js-click__features">Features</a>
                                <a href="javascript: void(0);" class="nav-link cwt__main-menu__link cwt__js-click__features">About Us</a>
                            </div>
                            <a href="javascript: void(0);" class="nav-link btn btn-primary cwt__main-menu__link cwt__main-menu__link--button">Contact Us</a>
                        </nav>
                    </div>
                </div>
            </div>

            <!-- Showcase Block -->
            <div class="cwt__block cwt__showcase cwt__utils__p-t-100">
                <div class="cwt__cube">
                    <div class="cwt__cube__inner" id="rotating-cube"><!-- --></div>
                </div>
                <h1 class="cwt__showcase__heading">
                    <span class="cwt__showcase__heading__text" id="showcase-type"></span>
                </h1>
                <p class="cwt__showcase__description">
                    Lorem Ipsum is <strong>simply dummy text</strong> of the printing and <strong>typesetting industry</strong>. Lorem Ipsum has been the
                    industry's <strong>standard dummy</strong> text ever since the 1500s, when an <strong>unknown printer</strong> took a galley of type
                    and <strong>scrambled it</strong> to make a type specimen book.
                </p>
                <div class="cwt__showcase__devices">
                    <div class="cwt__showcase__laptop">
                        <div class="cwt__showcase__laptop__shadow"><!-- --></div>
                        <div class="cwt__showcase__laptop__bg">
                            <div class="cwt__showcase__box">
                                <img src="<%= asset_path('laptop.gif') %>" class="cwt__showcase__box__gif" />
                            </div>
                        </div>
                    </div>
                    <div class="cwt__showcase__mobile hidden-sm-down">
                        <div class="cwt__showcase__box">
                            <img src="<%= asset_path('mobile.gif') %>" class="cwt__showcase__box__gif" />
                        </div>
                    </div>
                </div>
            </div>

            <!-- Promo Block -->
            <div class="cwt__block cwt__promo hidden-md-down">
                <div class="cwt__promo__images cwt__promo__images--showed">
                    <a href="javascript: void(0);" class="cwt__promo__images__img cwt__promo__images__img--1">
                        <img src="<%= asset_path('screens/promo_1.jpg') %>" alt="">
                        <span class="btn btn-primary">Click for Live Preview</span>
                    </a>
                    <a href="javascript: void(0);" class="cwt__promo__images__img cwt__promo__images__img--2">
                        <img src="<%= asset_path('screens/promo_2.jpg') %>" alt="">
                        <span class="btn btn-primary">Click for Live Preview</span>
                    </a>
                    <a href="javascript: void(0);" class="cwt__promo__images__img cwt__promo__images__img--3">
                        <img src="<%= asset_path('screens/promo_3.jpg') %>" alt="">
                        <span class="btn btn-primary">Click for Live Preview</span>
                    </a>
                    <a href="javascript: void(0);" class="cwt__promo__images__img cwt__promo__images__img--4">
                        <img src="<%= asset_path('screens/promo_4.jpg') %>" alt="">
                        <span class="btn btn-primary">Click for Live Preview</span>
                    </a>
                    <a href="javascript: void(0);" class="cwt__promo__images__img cwt__promo__images__img--5">
                        <img src="<%= asset_path('screens/promo_5.jpg') %>" alt="">
                        <span class="btn btn-primary">Click for Live Preview</span>
                    </a>
                </div>
            </div>

            <!-- Gallery Block -->
            <div class="cwt__block cwt__gallery">
                <h1 class="cwt__block-title">
                    Portfolio Preview
                </h1>
                <div class="cwt__gallery__container">
                    <div class="cwt__gallery__description">
                        Lorem Ipsum is <strong>simply dummy text</strong> of the printing and <strong>typesetting industry</strong>. Lorem Ipsum has been the
                        industry's <strong>standard dummy</strong> text ever since the 1500s, when an <strong>unknown printer</strong> took a galley of type
                        and <strong>scrambled it</strong> to make a type specimen book.
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <a href="javascript: void(0);" class="cwt__gallery__item">
                                <img src="<%= asset_path('screens/version_1.jpg') %>" alt="Vertical Menu (Default)" class="cwt__gallery__item__img">
                                <div class="cwt__gallery__item__overlay"><!-- --></div>
                                <span class="btn btn-primary cwt__gallery__item__btn">Click for Live Preview</span>
                            </a>
                            <br />
                            <a href="javascript: void(0);" class="cwt__gallery__item__title cwt__link-underlined">Vertical Menu (Default)</a>
                        </div>
                        <div class="col-md-4">
                            <a href="javascript: void(0);" class="cwt__gallery__item">
                                <img src="<%= asset_path('screens/version_2.jpg') %>" alt="Super Clean Mode + Menu Shadow" class="cwt__gallery__item__img">
                                <div class="cwt__gallery__item__overlay"><!-- --></div>
                                <span class="btn btn-primary cwt__gallery__item__btn">Click for Live Preview</span>
                            </a>
                            <br />
                            <a href="javascript: void(0);" class="cwt__gallery__item__title cwt__link-underlined">Super Clean Mode + Menu Shadow</a>
                        </div>
                        <div class="col-md-4">
                            <a href="javascript: void(0);" class="cwt__gallery__item">
                                <img src="<%= asset_path('screens/version_10.jpg') %>" alt="Ecommerce Version" class="cwt__gallery__item__img">
                                <div class="cwt__gallery__item__overlay"><!-- --></div>
                                <span class="btn btn-primary cwt__gallery__item__btn">Click for Live Preview</span>
                            </a>
                            <br />
                            <a href="javascript: void(0);" class="cwt__gallery__item__title cwt__link-underlined">Ecommerce Version</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <a href="javascript: void(0);" class="cwt__gallery__item">
                                <img src="<%= asset_path('screens/version_8.jpg') %>" alt="Horizontal Menu + Boxed" class="cwt__gallery__item__img">
                                <div class="cwt__gallery__item__overlay"><!-- --></div>
                                <span class="btn btn-primary cwt__gallery__item__btn">Click for Live Preview</span>
                            </a>
                            <br />
                            <a href="javascript: void(0);" class="cwt__gallery__item__title cwt__link-underlined">Horizontal Menu + Boxed</a>
                        </div>
                        <div class="col-md-4">
                            <div class="cwt__gallery__item cwt__gallery__item__placeholder">
                                <img src="<%= asset_path('screens/version_1.jpg') %>" alt="" class="cwt__gallery__item__img cwt__gallery__item__img--hidden">
                                <div class="cwt__gallery__item__coming-soon">
                                    <div>
                                        <span>
                                            New Layouts &amp; Colors<br>Coming Soon
                                        </span>
                                        Free Updates for Customers
                                    </div>
                                </div>
                            </div>
                            <br />
                            <span class="cwt__gallery__item__title">&nbsp;</span>
                        </div>
                        <div class="col-md-4">
                            <div class="cwt__gallery__item cwt__gallery__item__placeholder">
                                <img src="<%= asset_path('screens/version_1.jpg') %>" alt="" class="cwt__gallery__item__img cwt__gallery__item__img--hidden">
                                <div class="cwt__gallery__item__coming-soon">
                                    <div>
                                        <span>
                                            New App Pages<br>Coming Soon
                                        </span>
                                        Free Updates for Customers
                                    </div>
                                </div>
                            </div>
                            <br />
                            <span class="cwt__gallery__item__title">&nbsp;</span>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Features Block -->
            <div class="cwt__block cwt__features">
                <h1 class="cwt__block-title">
                    Product Features
                </h1>
                <div class="cwt__features__container">
                    <div class="row">
                        <div class="col-lg-4 col-md-6">
                            <div class="cwt__features__item">
                                <i class="cwt__features__icon lnr lnr-diamond"><!-- --></i>
                                <span class="cwt__features__title">
                                    6 Color Schemes
                                </span>
                                <div class="cwt__features__descr">
                                    Dark, Light, Blue, Green, Red, Orange
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="cwt__features__item">
                                <i class="cwt__features__icon lnr lnr-leaf"><!-- --></i>
                                <span class="cwt__features__title">
                                    Clean & Simple Code
                                </span>
                                <div class="cwt__features__descr">
                                    By professionals for professionals
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="cwt__features__item">
                                <i class="cwt__features__icon lnr lnr-rocket"><!-- --></i>
                                <span class="cwt__features__title">
                                    Easy Customizable
                                </span>
                                <div class="cwt__features__descr">
                                    Well documented and isolated framework code
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="cwt__features__item">
                                <i class="cwt__features__icon lnr lnr-thumbs-up"><!-- --></i>
                                <span class="cwt__features__title">
                                    Save $81
                                </span>
                                <div class="cwt__features__descr">
                                    Includes two paid licenses of premuim products
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="cwt__features__item">
                                <i class="cwt__features__icon lnr lnr-magic-wand"><!-- --></i>
                                <span class="cwt__features__title">
                                    Prebuilt App Pages
                                </span>
                                <div class="cwt__features__descr">
                                    Hundreds useful elements and components
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="cwt__features__item">
                                <i class="cwt__features__icon lnr lnr-bookmark"><!-- --></i>
                                <span class="cwt__features__title">
                                    AngularJS Version
                                </span>
                                <div class="cwt__features__descr">
                                    Starter Kit that make developer's life easier
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Action Block -->
            <div class="cwt__block cwt__action">
                <div class="cwt__action__container">
                    <div class="cwt__action__container-inner">
                        <a href="https://themeforest.net/item/clean-ui-premium-bootstrap-4-admin-template-angular-starter-kit/16678285?s_rank=4&ref=mediatec_software" class="btn btn-primary cwt__action__button">
                            Buy Now $25<br /><small>Landing Included</small>
                        </a>
                    </div>
                </div>
            </div>

            <!-- Feedback Block -->
            <div class="cwt__block cwt__feedback">
                <h1 class="cwt__block-title">
                    Our Customers Say
                </h1>
                <div class="cwt__feedback__container">
                    <div class="cwt__feedback__container__stars">
                        <i class="icmn-star-full2"></i>
                        <i class="icmn-star-full2"></i>
                        <i class="icmn-star-full2"></i>
                        <i class="icmn-star-full2"></i>
                        <i class="icmn-star-full2"></i>
                    </div>
                    <p>
                        The quality is incredible high and the flexibility is limitless!
                        <br />
                        Clean UI Admin Template accelerated development 3x times and reduced QA issues by 50%. It's probably saved us $30,000 on this project.
                    </p>
                    <p><strong>Highly recommended to buy!</strong></p>
                </div>
                <div class="cwt__feedback__user">
                    <div class="cwt__feedback__user__title">
                        John Allen
                        <span>
                            Buyer, Germany
                        </span>
                    </div>
                </div>
                <div class="cwt__feedback__container">
                    <div class="cwt__feedback__container__stars">
                        <i class="icmn-star-full2"></i>
                        <i class="icmn-star-full2"></i>
                        <i class="icmn-star-full2"></i>
                        <i class="icmn-star-full2"></i>
                        <i class="icmn-star-full2"></i>
                    </div>
                    <p>I've looked at hundreds of bootstrap themes, and this one is by far the best I've come across for
                    our project. The design is modern, and not cluttered. The code is clean and easily manageable, and their customer support has been excellent.</p>
                    <p><strong>It's new, but this one is definitely a winner.</strong></p>
                </div>
                <div class="cwt__feedback__user">
                    <div class="cwt__feedback__user__title">
                        Benjamin Kouba
                        <span>
                            LEAF9.com, United States
                        </span>
                    </div>
                </div>
            </div>

            <!-- About Us -->
            <div class="cwt__block cwt__about">
                <h1 class="cwt__block-title">
                    About Us
                </h1>
                <div class="cwt__about__container">
                    <div class="row">
                        <div class="col-lg-6">
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                                has been the industry's standard dummy text ever since the 1500s, when an unknown
                                printer took a galley of type and scrambled it to make a type specimen book. It has
                                survived not only five centuries, but also the leap into electronic typesetting,
                                remaining essentially unchanged.
                            </p>
                            <p>It was popularised in the 1960s with the release of
                                Letraset sheets containing Lorem Ipsum passages, and more recently with desktop
                                publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                            </p>
                        </div>
                        <div class="col-lg-6">
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                                has been the industry's standard dummy text ever since the 1500s, when an unknown
                                printer took a galley of type and scrambled it to make a type specimen book.
                            </p>
                            <p>It has
                                survived not only five centuries, but also the leap into electronic typesetting,
                                remaining essentially unchanged. It was popularised in the 1960s with the release of
                                Letraset sheets containing Lorem Ipsum passages, and more recently with desktop
                                publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

<%= render partial: 'landing/footer' %>
