<%= render 'layouts/navbar' %>
<!--  Hero start  -->
<div class="section section-fill-height section-opaque-dark text-xs-center" draggable="true">
    <div class="background-image" style="background-image: url('assets/images/food.png');" id="videobg"></div>
    <div class="container">
      <div class="row">
						<div class="col-md-12 mt-text animate-box" data-animate-effect="fadeInUp">
							<h1 class="cursive-font text-xs-center hero-title">Order food and go pickup!</h1>
              <span class="intro-text-small text-xs-center hero-text">No more waiting, just order food from your favourite restaurants online!</span>
						</div>
		      </div>
          <br>
      <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8 animate-box text-xs-center" data-animate-effect="fadeInUp">
                <div class="input-group input-group-lg" id="front-page-search">
                    <span>
                      <%= form_tag(restaurants_path, method: "get", id: "search-form") do |f| %>
                      <%= search_field_tag :search, params[:search], placeholder: "Search Restaurants", class: "form-control" %>

                      <% end %>
                    </span>

                  <span class="input-group-btn">
                    <button class="btn btn-success" type="button">Find Restaurant</button>
                  </span>
                </div>
              </div>
              <div class="col-md-2"></div>
      </div>
    </div>
  </div>
<!--  Hero end  -->
<!--  Order steps start  -->
  <div class="section steps">
      <div class="container">
          <div class="title text-xs-center">
            <br>
              <h2>Get your favourite food in 4 simple steps</h2>
          </div>
          <div class="steps-how">
              <ul>
              <li class="step one">
                  <div>
                      <div><img src="<%=asset_path('search.png')%>" alt="" width="80" height="80"></div>
                      <div class="step-title"><strong>1. Search</strong></div>
                      <br>
                      <div class="description">Find your favourite restaurant anywhere you want</div>
                  </div>
              </li>
              <li class="step two">
                  <div>
                      <div><img src="<%=asset_path('order.png')%>" alt="" width="80" height="80"></div>
                      <div class="step-title"><strong>2. Choose</strong></div>
                      <br>
                      <div class="description">Browse hundreds of menus to find the food you like</div>
                  </div>
              </li>
              <li class="step three">
                  <div>
                      <div><img src="<%=asset_path('pickup.png')%>" alt="" width="80" height="80"></div>
                      <div class="step-title"><strong>3. Pickup</strong></div>
                      <br>
                      <div class="description">Go pickup your food in 20 minutes or set when to pick</div>
                  </div>
              </li>
              <li class="step four">
                <div>
                  <div><img src="<%=asset_path('pay.png')%>" alt="" width="80" height="80"></div>
                  <div class="step-title"><strong>4. Pay</strong></div>
                  <br>
                  <div class="description">Only pay during pickup, no advance payment required</div>
                </div>
              </li>
          </ul>
          </div>
      </div>
  </div>

  <div class="section steps-how">
    <div class="container">
      <div class="title text-xs-center">
        <br>
          <h2>Our partnering restaurants</h2>
          <ul>
          <% @restaurants.each do |restaurant| %>
          <li><img src="<%=restaurant.profile_image%>" alt="" width="100" height="100"></li>
          <% end %>
          </ul>
      </div>
    </div>
  </div>
  <%= render 'layouts/footer' %>
<!--  Order steps end  -->
