<%= render '/layouts/navbar' %>
<div class="section section-banner section-opaque-dark text-xs-center" draggable="true">
  <div class="background-image" style="background-image: url(<%=asset_path('foodbanner.jpg')%>);"></div>
  <div class="col-md-12 mt-text animate-box" data-animate-effect="fadeInUp">
    <h1 class="cursive-font text-xs-center hero-title">My Orders</h1>
    <span class="intro-text-small text-xs-center hero-text"> </span>
  </div>
</div>

<div class="section top-padding">
  <div class="container">

    <%@orders.each do |order|%>
    <article class="list-group container">
      <li class="list-group-item">
        <div class="vendor-list">
          <h4>Order ID: <%= order.id %></h4>
          <h5>Order Status: <%= order.status %></h5>
          <h5>Restaurant: <%= order.restaurant.name %></h5>
          <h5>Pickup Time: <%= order.eta %></h5>
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Food Image</th>
                <th>Food Name</th>
                <th>Quantity</th>
              </tr>
            </thead>
            <tbody>
              <% order.ordered_meals.each do |ordered_meal| %>
              <tr>
                <td><%= image_tag ordered_meal.meal.image.thumb %> </td>
                <td><%= ordered_meal.meal.name %> </td>
                <td><%= ordered_meal.quantity %> </td>
              </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </li>
    </article>
    <p></p>

    <% end%>
  </div>
</div>
<%= render 'layouts/footer' %>
