<div class="panel-heading" role="tab" id="headingOne">
  <h4 class="panel-title">
    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
      Order Summary
    </a>
  </h4>
</div>

<% @restaurants.each do |restaurant_id, restaurant|%>
<h2><%= restaurant[:name] %></h2>
<table cellspacing="0" class="table table-bordered">
  <thead>
    <tr>

      <th class="product-name">Product</th>
      <th class="product-price">Price</th>
      <th class="product-quantity">Quantity</th>
      <th class="product-subtotal">Total</th>
      <th class="product-subtotal">Pickup Time</th>
    </tr>
  </thead>
  <tbody>

    <% restaurant[:meals].each do |meal| %>
    <tr class="cart_item">
      <td class="product-thumbnail">
        <a><%= image_tag meal.image.thumb, alt:"",class:"product-thumb"%></a>
      </td>
      <td class="product-name">
        <%= meal.name%>
      </td>

      <td class="product-price">
        <%= number_to_currency(meal.price, :unit => 'RM') %>
      </td>

      <td class="product-quantity">
          <%= meal.quantity %>
      </td>

      <td class="product-subtotal">
        <span class="amount">RM<%=meal.price*=meal.quantity.to_i%></span>
      </td>
      <td class="product-subtotal">
        <%=meal.price*=meal.quantity.to_i%>
      </td>
    </tr>
    <%end%>

  </tbody>
</table>
<% end %>

<div class="cart_totals ">
  <h2>Total:</h2>

  <table cellspacing="0">
    <tbody>
      <tr class="cart-subtotal">
        <th>Grand Total</th>
        <td><strong><span class="amount">RM<%=@total_price%></span></strong></td>
      </tr>
    </tbody>
  </table>
</div>
<%= link_to "Submit Order", orders_path, method: :post, class:"btn btn-success" %>
