<%= render '/layouts/navbar' %>
<div class="section section-banner section-opaque-dark text-xs-center" draggable="true">
  <div class="background-image" style="background-image: url(<%=asset_path('foodbanner.jpg')%>);"></div>
  <div class="col-md-12 mt-text animate-box" data-animate-effect="fadeInUp">
    <h1 class="cursive-font text-xs-center hero-title">My Sales</h1>
    <span class="intro-text-small text-xs-center hero-text">For Restaurant: <%= @restaurant.name %> </span>
  </div>
</div>

<div class="section top-padding">
  <div class="container">

  <%@orders.each do |order|%>
  <h3>Order ID: <%=order.id%></h3>
  <h4>Order Status: <%=order.status%></h4>

  <% order.ordered_meals.each do |ordered_meal| %>
  <div> Meal Name: <%= ordered_meal.meal.name %> </div>
  <div> Quantity: <%= ordered_meal.quantity %> </div>
  <% end %>
  <% end%>

  </div>
</div>
<%= render 'layouts/footer' %>
