<%= render '/layouts/navbar' %>
<br>
<br>
<br>
<div class= "text-xs-center">
<h2>Review Order</h2>
<br>
<% if @restaurants.empty? %>
<h2>Your Order List Is Currently Empty</h2>
<% else %>
</div>
<% @restaurants.each do |restaurant_id, restaurant|%>

<div class= "container">
  <h2><%= restaurant[:name] %></h2>
  <div class="pull-xs-left text-xs-center">
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Remove</th>
      <th>#</th>
      <th>Meal</th>
      <th>Price</th>
      <th>Quantity</th>
      <th>Total</th>
      <!-- <th>Restaurant Owner</th> -->
    </tr>
  </thead>
  <tbody>
    <% restaurant[:meals].each do |meal|%>
    <tr>
      <td><%= link_to "x", remove_meal_path(id: meal), method: :delete, title: "Remove this meal", class: "remove" %></td>
      <td><%= image_tag meal.image.thumb%></td>
      <td><%= meal.name %></td>
      <td><%= number_to_currency(meal.price, :unit => 'RM') %></td>
      <td>
        <span>&nbsp; &nbsp;<%= link_to '', update_meal_path(id: meal, quantity: -1), method: :post, class:"fa fa-minus-circle" %></span>
        <%= meal.quantity%>
        <span>&nbsp; &nbsp;<%= link_to '', update_meal_path(id: meal, quantity: 1), method: :post, class:"fa fa-plus-circle" %></span>
      </td>
      <td><span class="amount">RM<%=meal.price*=meal.quantity.to_i%></span></td>
      <!-- <td>< %= meal.restaurant.user.email %></td> -->
    </tr>
    <%end%>
    <tr>
      <td colspan="6">
        <div class="coupon">
          <label for="coupon_code"></label>
          <input type="text" placeholder="Promo code" value="" id="coupon_code" class="input-text" name="coupon_code">
          <input type="submit" value="Enter Code" name="apply_coupon" class="button">

        </div>
      </td>
    </tr>
  </tbody>
</table>
</div>
<div class= " card pull-xs-right">
  <div class = "card-block">
  <h3>Order Information</h3>
  <div class="form-group">
  <span class= "pull-xs-left">
    <label for="sel1">Select Date Time</label>
    <select class="form-control" id="sel1">
      <option><%= Date.current %></option>
      <option><%= Date.current+1 %></option>
      <option><%= Date.current+2 %></option>
      <option><%= Date.current+3 %></option>
    </select>
  </span>
<span class="pull-xs-left">&nbsp; &nbsp; &nbsp; &nbsp;</span>
    <span class= "pull-xs-right">
    <label for="sel1">Select Pickup Time</label>
    <select class="form-control" id="sel1">
      <option><%=(Time.now.advance(:hours => +1).beginning_of_hour).strftime("%H:%M")%></option>
      <option><%=(Time.now.advance(:hours => +2).beginning_of_hour).strftime("%H:%M")%></option>
      <option><%=(Time.now.advance(:hours => +3).beginning_of_hour).strftime("%H:%M")%></option>
      <option><%=(Time.now.advance(:hours => +4).beginning_of_hour).strftime("%H:%M")%></option>
      <option><%=(Time.now.advance(:hours => +5).beginning_of_hour).strftime("%H:%M")%></option>
      <option><%=(Time.now.advance(:hours => +6).beginning_of_hour).strftime("%H:%M")%></option>
    </select>
    </span>
  </div>

  </div>
</div>
</div>
<% end %>
<% end %>
<br>
<span>
  <div class="text-xs-center">
  <%= link_to "Add Order", restaurants_path%>
  <% if current_user %>
  <% if @restaurants.empty? %>
  <% else %>
  <%= link_to "Checkout", new_order_path, method: :get, class:"btn btn-primary" %>
  <% end %>
  <%else%>
  <%= link_to "Login first to Place Order", new_user_session_path%>
  <%end%>
  </div>
</span>
