<%= form_for @restaurant do |f| %>

  <div>
    <%= f.label :name %>
    <%= f.text_field :name, class:"form-control" %>
  </div>

  <div>
    <%= f.label :description %>
    <%= f.text_area :description, class:"form-control" %>
  </div>

  <div>
    <%= f.label :address %>
    <%= f.text_area :address, class:"form-control" %>
  </div>

  <div>
    <%= f.label :city %>
    <%= f.text_area :city, class:"form-control" %>
  </div>

  <div>
    <%= f.label :postcode %>
    <%= f.text_area :postcode, class:"form-control" %>
  </div>

  <div>
    <%= f.label :state %>
    <%= f.text_area :state, class:"form-control" %>
  </div>

  <div>
    <%= f.label :country %>
    <%= f.text_area :country, class:"form-control" %>
  </div>

  <div>
    <%= f.label :profile_image %>
    <%= f.file_field :profile_image, class:"form-control" %>
  </div>

  <div>
    <%= f.label :banner_image %>
    <%= f.file_field :banner_image, class:"form-control" %>
  </div>


<P>
  <div>
    <%= f.submit class:"btn btn-success" %>
  </div>
<% end %>
