<%= render '/layouts/navbar' %>


<h1>Restaurant list</h1>

<% if current_user&.restaurant_owner? %>
  <%= link_to "New Restaurant", new_restaurant_path, class:"btn btn-primary" %>
<% end%>
<p>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Restaurant Image</th>
      <th>Restaurant Name</th>
      <th>Description</th>
      <!-- <th>Owner</th> -->

      <!-- <th>Address</th>
      <th>City</th>
      <th>State</th>
      <th>Postcode</th> -->
    </tr>
  </thead>

  <tbody>
  <% @restaurants.each do |restaurant| %>
  <tr>
    <td><%= image_tag restaurant.profile_image.thumb %></td>
    <td><%=link_to restaurant.name, restaurant_path(restaurant)%></td>
    <td><%=restaurant.description%></td>
    <!-- <td>< %= restaurant.user.email %></td> -->
    <!-- <td>< %=restaurant.address%></td> -->
    <!-- <td>< %=restaurant.city%></td> -->
    <!-- <td>< %=restaurant.state%></td> -->
    <!-- <td>< %=restaurant.postcode%></td> -->

    <% if current_user&.admin? || current_user&.restaurant_owner? %>
      <% if current_user == restaurant.user %>
        <td><%= link_to "EDIT", edit_restaurant_path(restaurant), class:"btn btn-success" %></td>
        <td><%= link_to "DELETE", restaurant_path(restaurant), method: :delete, data: { confirm: "Delete?" } , class:"btn btn-danger" %></td>
      <% end %>
    <% end %>

  </tr>
  <% end%>
