<h1>Restaurant list</h1>

<% if current_user&.restaurant_owner? %>
  <%= link_to "New Restaurant", new_restaurant_path %>
<% end%>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Restaurant Image</th>
      <th>Restaurant Name</th>
      <th>Description</th>
      <th>Address</th>
      <th>City</th>
      <th>State</th>
      <th>Postcode</th>
    </tr>
  </thead>

  <tbody>
  <% @restaurants.each do |restaurant| %>
  <tr>
    <td><h3><%=restaurant.image%></h3></td>
    <td><h3><%=link_to restaurant.name, restaurant_path(restaurant)%></h3></td>
    <td><h3><%=restaurant.description%></h3></td>
    <td><h3><%=restaurant.address%></h3></td>
    <td><h3><%=restaurant.city%></h3></td>
    <td><h3><%=restaurant.state%></h3></td>
    <td><h3><%=restaurant.postcode%></h3></td>

    <% if current_user&.admin? || current_user&.restaurant_owner? %>
    <td>  <%= link_to "EDIT", edit_restaurant_path(restaurant), class:"btn btn-success" %></td>
    <td>  <%= link_to "DELETE", restaurant_path(restaurant), method: :delete, data: { confirm: "Delete?" } , class:"btn btn-danger" %></td>
    <% end %>

  </tr>
  <% end%>
