<%= render '/layouts/navbar'%>

<h1>Restaurant list</h1>

<% if current_user&.restaurant_owner? %>
  <%= link_to "New Restaurant", new_restaurant_path, class:"btn btn-primary" %>
<% end%>
<p>
  <% @restaurants.each do |restaurant| %>
  <article class="list-group container">
    <li class="list-group-item">
      <div class >
        <img src="<%=restaurant.profile_image%>" alt="" width="80" height="80">
        <span>
          <%=restaurant.name%>
        </span>
        <span class = "pull-xs-right">
          Pickup in 20 minutes
        </span>
        <span>
          <% if current_user&.admin? || current_user&.restaurant_owner? %>
          <% if current_user == restaurant.user %>


          <%= link_to "", edit_restaurant_path(restaurant), class:"fa fa-pencil"%>

          <%= link_to "", restaurant_path(restaurant), method: :delete, data: { confirm: "Delete?" }, class:"fa fa-trash-o" %>
          <% end %>
          <% end %>
        </span>
      </div>

    </li>
  </article>
  <% end%>
