<%= render '/layouts/navbar' %>
<div class="section section-banner section-opaque-dark text-xs-center" draggable="true">
  <div class="background-image" style="background-image: url(<%=asset_path('foodbanner.jpg')%>);"></div>
  <div class="col-md-12 mt-text animate-box" data-animate-effect="fadeInUp">
    <h1 class="cursive-font text-xs-center hero-title">New Restaurant</h1>
    <span class="intro-text-small text-xs-center hero-text"> </span>
  </div>
</div>

<div class="section top-padding">
  <div class="container">

  <%= render 'form', restaurant: @restaurant %>
  <p><p>

  <%= link_to 'Back', dashboard_path, class:"btn btn-success" %>

</div>
</div>
<%= render 'layouts/footer' %>
