
<h2><%= @restaurant.name %></h2>

<div class = "meals">

<% if current_user&.restaurant_owner? %>
<%= link_to "New Meal", new_restaurant_meal_path(@restaurant) %>
<% end %>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Menu</th>
      <th>Price</th>
      <th>Select</th>
    </tr>
  </thead>

  <tbody>
    <% @restaurant.meals.each do |meal|%>
    <tr>
      <td><%=meal.name%></td>
      <td><%= meal.price %></td>
      <td><%=check_box_tag 'meal_id[]', meal.id %></td>

      <% if current_user&.admin? || current_user&.restaurant_owner? %>
        <td><%= link_to "EDIT", edit_restaurant_meal_path(@restaurant, meal), class:"btn btn-success" %></td>
        <td><%= link_to "DELETE", restaurant_meal_path(@restaurant, meal), method: :delete, data: { confirm: "Delete?" }, class:"btn btn-danger" %></td>
      <% end %>
    </tr>
    <%end%>
  </tbody>

</table>

</div>
