<nav class="bg-faded navbar navbar-full navbar-light">
  <div class="container-fluid">

    <a class="navbar-brand" href="#"><div class="logo"><%= image_tag 'logo-inverse.png', width: '100px', height: '35px'  %></div></a>


    <ul class="nav navbar-nav navbar-right">
      <li class="nav-item"><%= link_to "View All Restaurants", restaurants_path, class: "nav-link" %></li>

      <% if current_user&.restaurant_owner? %>
      <li class="nav-item"><%= link_to "Manage My Restaurant", restaurant_applications_path, class: "nav-link" %></li>
      <li class="nav-item"><%= link_to "Manage My Orders", restaurant_applications_path, class: "nav-link" %></li>
      <% else %>
      <li class="nav-item"><%= link_to "Open a Restaurant", restaurant_applications_path, class: "nav-link" %></li>
      <% end %>

      <% if user_signed_in? %>
      <li class="nav-item"><%= link_to "Edit Profile", edit_user_registration_path, class: "nav-link" %></li>
      <li class="nav-item"><%= link_to "Sign Out", destroy_user_session_path, class: "nav-link", method: :delete %></li>
      <% else %>
      <li class="nav-item">
        <a href="javascript:;" data-toggle="modal" data-target="#loginModal">Login or Sign Up</a>
      </li>
      <% end %>
    </ul>


  </div><!-- /.container-fluid -->
</nav>
